/* {============================= Universal Styles =============================} */
:root {
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: lightcoral;
    --quaternary-color: grey;
}

/* set content highlight color and background */
::selection {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

/* Which will select every element, and give it a red border. Inspect your html page, and see if you can decipher which element may be causing the extra space. */
/* * { border: 1px solid red; } */

/* {============================= Element Selectors =============================} */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    /* background: linear-gradient(#e66465, #9198e5); */
    background: #bfa8bb;
}

header {
    background-image: url(../images/headerBg.jpg);
    background-position: center;
}

/* Fix moblie issue => add background color in body but not main */
main {
    /* background: linear-gradient(#e66465, #9198e5); */
}


/* {============================= Class Selectors =============================} */
.list-group-item {
    position: relative;
}

.card-header {
    /* background-image: url(../images/grassAndRiver.png);
    background-position: top; */
    /* object-fit: contain; */
    background-color: #33ab5f; 
}

.card-body {
    /* background-image: url(../images/grassAndRiver.png); */
    /* background-position: 10% 59%; */
    /* font-weight: 900; */
    background-color: #8cdba9;
}

/* {============================= Id Selectors =============================} */
#deleteBtn {
    position: absolute;
    right: 0px;
    top: 0;
    padding: 1.5%;
}