/* {============================= Universal Styles =============================} */
:root {
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: lightcoral;
    --quaternary-color: grey;
}

/* set content highlight color and background */
::selection {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

/* Which will select every element, and give it a red border. Inspect your html page, and see if you can decipher which element may be causing the extra space. */
/* * { border: 1px solid red; } */

/* {============================= Element Selectors =============================} */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    /* background: linear-gradient(#e66465, #9198e5); */
    background: lightgrey;
}

header {
    background-image: url(../images/headerBg.jpg);
    background-position: center;
}

main {
    /* background: linear-gradient(#e66465, #9198e5); */
}

/* textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
} */

/* {============================= Class Selectors =============================} */
.list-group-item {
    position: relative;
}

.card-header {
    background-image: url(../images/grassAndRiver.png);
    background-position: top;
    /* object-fit: contain; */
}

.card-body {
    background-image: url(../images/grassAndRiver.png);
    background-position: 10% 59%;
}

/* {============================= Id Selectors =============================} */
#deleteBtn {
    position: absolute;
    right: 0px;
    top: 0;
    padding: 1.5%;
}